GestionarCuentas/GestionarCuentas_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://BAPPT" targetNamespace="http://BAPPT" elementFormDefault="qualified">
  <xs:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="IIBIntegration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="IIBIntegrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cliente" type="tns:Cliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
    	<xs:element name="nombre" type="xs:string" nillable="false"
    		minOccurs="0" maxOccurs="1" />
    	<xs:element name="apellido" type="xs:string" nillable="false"
    		minOccurs="0" maxOccurs="1" />
    	<xs:element name="cedula" type="xs:string" nillable="false"
    		minOccurs="0" maxOccurs="1" />
    	<xs:element name="direccion" type="xs:string" nillable="false"
    		minOccurs="0" maxOccurs="1" />
    	<xs:element name="fechaNacimiento" type="xs:dateTime"
    		nillable="false" minOccurs="0" maxOccurs="1" />
    	<xs:element name="password" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" type="tns:Resultado" />
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element name="Cliente" type="tns:Cliente" nillable="false" minOccurs="0" maxOccurs="1" />
      <xs:element name="estado" type="xs:int" nillable="false" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>

