CreateTransaccion/CreateTransaccion_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://CreateTransaccion" xmlns:tns="http://CreateTransaccion" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_cuenta_origen" nillable="true" type="xsd:int"/>
                <xsd:element name="id_cuenta_destino" nillable="true" type="xsd:int"/>
                <xsd:element name="id_tipo_transaccion" nillable="true" type="xsd:int"/>
                <xsd:element name="monto_transferido" nillable="true" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" nillable="true" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>