LoginValidation/LoginValidation_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://LoginValidation" xmlns:tns="http://LoginValidation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idUsuario" nillable="true" type="xsd:string"/>
                <xsd:element name="password" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="operation1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" nillable="true" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>